code {
  font-size: 0.86rem !important;
  font-family: "IBM Plex Mono", monospace !important;
}

.dark p code {
  color: rgb(80, 250, 123);
}

.light p code {
  color: rgb(34, 142, 236);
  font-weight: bold;
}

.prose ol li {
  margin-bottom: 1rem;
}
