html {
  font-size: 0.9rem;
}

code {
  font-size: 0.75rem !important;
  font-family: "IBM Plex Mono", monospace !important;
}

p code {
  color: rgb(168, 255, 96);
}

#prompt {
  font-size: 0.9rem;
  outline: none;
}
